appnope==0.1.0
decorator==4.0.6
et-xmlfile==1.0.1
gnureadline==6.3.3
ipython==4.0.1
ipython-genutils==0.1.0
jdcal==1.2
openpyxl==2.3.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
requests<3
simplegeneric==0.8.1
traitlets==4.0.0
